body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#fiveDaySet {
  display: flex;
  flex-direction: row;
  justify-content: center/space-between;
}

.forecast {
  margin: 10px;
}